div.Gallery{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	padding: 5px;
	grid-column-gap: 0px;
	background-color: white;
	width: 80%;
	height: auto;
	margin: auto;
}
.pic{
padding: 25px 1px;

color: blue;
position: relative;
top: 10px;
left: 10px;
}
.q1{
	position: relative;
	top: 0px;
left: 0px;
}
.Start{
	text-align: center;
	grid-row:  1 / span 6;
	position: relative;
	top: 50%;
}
.joker{
	transition-duration: 0.4s;
	position: relative;
	top: -89px;
    left: 0px;

}
.joker:hover{
	box-shadow: 0 4px 8px 0 Green, 0 6px 20px 0 blue;
}

button{
	transition-duration: 0.4s;
	background-color: #4CAF50; /* Green */
	width: 170px;
	height: 70px;
  border: 1px solid #4CAF50;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover{
	background-color: white;
	color: #4CAF50;
}
p{
	text-align: center;
	border: 3px solid #ddd;
	border-radius: 10px;
}
